
#select{
    font-size: 18px;
    font-weight: bold;
   
}
#select li{
    text-decoration: none;  /*去掉前面的圆点*/
    list-style: none;
    float: center;
    border: 1px solid #FFFFFF;
    text-align: center;
}

#main{
    margin:auto;
}
.table tr{
    text-align: center
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
}

#li_list {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    overflow: auto;
}
ul {
    width: 450px;
    list-style: none; 
}

li{
    display: inline-block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    
}

.li_click{

    text-decoration:underline;
    color:#FF5A8A;
    border-bottom: 2px solid #FF5A8A;
}

table{
    border-top: 0px;
}

.col-xs-6{
    text-align: center;
    padding-top: 20px;
}